footer{
    background-color: #000000;
    color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer > div > a {
    color: inherit;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.top{
    font-size: 20pt;
    font-family: Lobster;
}

footer > div > p {
    justify-content: center;
    font-size: 10pt;
    font-family: Montserrat;
    margin: 0;
}

.footerCopyrights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 500px;
}